sogeo.services 
tls stefan.ziegler.de@gmail.com {
    max_certs 10
}

proxy / https://web-service:8081 {
    transparent
} 
proxy /geoserver https://wms:8080 {
    transparent
}

# proxy url in geoserver setzen
# Was ist mit dem GUI?
#proxy /wms wms:8080/geoserver/wms 
#proxy /ows wms:8080/geoserver/ows 

#log /var/log/caddy/status.access.log
#errors /var/log/caddy/status.error.log

log stdout
errors stdout
