http://oereb.sogeo.services
tls stefan.ziegler.de@gmail.com

proxy /ws web-service:8181 {
    header_upstream +X-Forwarded-Prefix ws
    header_upstream Host {host}
    header_upstream X-Real-IP {remote}
    header_upstream +X-Forwarded-For {remote}
    header_upstream X-Forwarded-Proto {scheme}
    without /ws
}

proxy /wms/oereb wms:80/wms/oereb {
   transparent
   without /wms/oereb
}

proxy / client:8282 {
}

redir /client /client/

log stdout
errors stdout
