http://sogeo.services 
#tls stefan.ziegler.de@gmail.com

proxy / web-service:8081 {
    transparent
} 
proxy /geoserver wms:8080 {
    transparent
}

# proxy url in geoserver setzen
# Was ist mit dem GUI?
#proxy /wms wms:8080/geoserver/wms 
#proxy /ows wms:8080/geoserver/ows 

